{% extends 'base_frontend.html.twig' %}
{% set menu_active = 'front_registros_list' %}
{% block body %}
    <div class="row">

        <div class="col-md-12 portlets">

            <div class="widget">

                <div class="widget-header transparent">

                    <div style="float:right; position:relative; right:30px; z-index:2;">
                        <a href="{{ path('front_new_event') }}" class="btn-sm btn-dark-1">Nuevo Registro</a>
                    </div>
                    <h2 class="bold">{{ title }}</h2>
                </div>

                <div class="widget-content padding">
                    <div class="table-responsive">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}

                        <div class="col-md-12">
                            <div class="form-group">

                                <div class="col-md-6 col-xs-12">
                                    {{ form_label(form.start_date) }}
                                    {{ form_widget(form.start_date) }}
                                    {{ form_errors(form.start_date) }}
                                </div>

                                <div class="col-md-6 col-xs-12">
                                    {{ form_label(form.end_date) }}
                                    {{ form_widget(form.end_date) }}
                                    {{ form_errors(form.end_date) }}
                                </div>

                                <div class="col-md-12 col-xs-12" style="padding-bottom:20px;">
                                    <div class="text-center">
                                    {{ form_widget(form.search) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 portlets">
            <div class="widget">
                <div class="widget-header2 transparent">

                    <h2 class="bold"></h2>
                </div>
                <div class="widget-content padding">
                    <div class="table-responsive">
                        <table data-sortable class="table table-bordered table-hover table-striped tabla-pos f12">
                            <thead>
                            <tr>
                                <th>Evento</th>
                                <th>Empresa</th>
                                <th>Nombre</th>
                                <th>Fecha</th>
                                <th>Telefono</th>
                                <th>Email</th>
                                <th>Usuario Alta</th>
                                <th data-sortable="false">&nbsp;</th>
                            </tr>
                            </thead>
                            {% if events|length > 0 %}
                                <tbody>
                                {% for event in events %}
                                    <tr>
                                        <td>{{ event.evento }}</td>
                                        <td>{{ event.empresa }}</td>
                                        <td>{{ event.getNombreCompleto }}</td>
                                        <td>{{ event.fecha|date('d-m-Y H:m:i') }}</td>
                                        <td>{{ event.telefono  }}</td>
                                        <td>{{ event.email }}</td>
                                        <td>{{ event.user }}</td>
                                        <td><a href="{#{ path('update_event', {'event': event.id}) }#}" class="btn btn-success btn-xs">Editar</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            {% else %}
                                <tbody>
                                <tr>
                                    <td colspan="9">No hay Eventos</td>
                                </tr>
                                </tbody>
                            {% endif %}
                        </table>

                    </div>
                </div>

                <div class="col-md-12 col-xs-12" style="padding-bottom:20px;">
                    {% if events|length > 0 %}
                        <div class="col-md-6">
                            <div class="text-center">
                                <input class="btn btn-success" type="button" value="Descargar" style="margin-right:30px;" onclick="window.location='{{ path('front_export_record_list') }}';">
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-md-6">
                        <div class="text-center">
                            <input class="btn btn-default" type="button" value="Regresar" style="margin-right:30px;" onclick="window.location='{{ path('front_list_records') }}';">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .text {color:#ffffff; text-decoration:none}
        .text:hover {color:#000000; text-decoration:none}
    </style>
{% endblock %}
