<div class="topbar">
    <div class="topbar-left">
        <div class="logo">
            <h1>
                <a href="{{ path('homepage') }}">
                    {#<img src="{{ asset('backend/img/logo-mvm2.png') }}" alt="Logo">#}
                    <img src="{{ asset('img/logo.png') }}" width="15%">
                </a>
            </h1>
        </div>
        <button class="button-menu-mobile open-left">
            <i class="fa fa-bars"></i>
        </button>
    </div>

    {# Button mobile view to collapse sidebar menu #}
    <div class="navbar navbar-default" role="navigation">
        <div class="container pull-right">
            <div class="navbar-collapse2">
                <ul class="nav navbar-nav navbar-right top-navbar">
                    <li class="dropdown topbar-profile i8margen" style="margin-top:10px; margin-right:10px;">
                        <form>
                            <div class="fondo-circulo">
                                <a href="#search"><i class="fa fa-search" style="color:#FFF;"></i></a>
                            </div>
                        </form>

                        <div id="search">
                            <button type="button" class="close">x</button>
                            {#<form action="{{ path('back_search')}}">#}
                                {#<input type="search" value="" id="srchString" name="srchString" placeholder="Escribe el numero o nombre del asociado" required/>#}
                                {#<input type="submit" class="btn btn-red-1" data-dismiss="modal" value="Buscar">#}
                            {#</form>#}
                        </div>
                    </li>
                    <li class="dropdown topbar-profile" style="margin-right:50px;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="bold">Usuario: </span> {{ app.user.__toString }} <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_security_logout') }}" class="md-trigger" data-modal="logout-modal"><i class="icon-logout-1"></i> Salir</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>