{% extends 'base.html.twig' %}
{% set menu_active = 'homepage' %}
{% set title = 'Listado Eventos' %}
{% block body %}
<div class="row">

    <div class="col-md-12 portlets">

        <div class="widget">

            <div class="widget-header transparent">

                <div style="float:right; position:relative; right:30px; z-index:2;">
                    <a href="{{ path('new_event') }}" class="btn-sm btn-dark-1">Nueva Evento</a>
                </div>
                <h2 class="bold">{{ title }}</h2>
            </div>

            <div class="widget-content padding">
                <div class="table-responsive">
                    <table data-sortable class="table table-bordered table-hover table-striped tabla-pos f12">
                        <thead>
                        <tr>
                            <th>Titulo</th>
                            <th>Observaciones</th>
                            <th>Fecha Incio</th>
                            <th>Fecha Fin</th>
                            <th>Estatus</th>
                            <th>Usuario Alta</th>
                            {#<th data-sortable="false">&nbsp;</th>#}
                            {#<th data-sortable="false">&nbsp;</th>#}
                        </tr>
                        </thead>
                        {% if events|length > 0 %}
                            <tbody>
                            {% for event in events %}
                                {# producto \Variv\BackNomiboxBundle\Entity\Producto #}
                                <tr>
                                    <td>{{ event.titulo }}</td>
                                    <td>{{ event.observations }}</td>
                                    <td>{{ event.startDateTime|date('d-m-Y H:m:i') }}</td>
                                    <td>{{ event.endDateTime|date('d-m-Y H:m:i') }}</td>
                                    <td>{{ event.estatus }}</td>
                                    <td>{{ event.user }}</td>
                                    {#<td><a href="{{ path('back_catalogos_producto_detalleModal', {'id': producto.id}) }}" class="btn btn-primary btn-xs btn-detail">Mostrar</a></td>#}
                                    {#<td><a href="{{ path('back_catalogos_producto_modificacion', {'id': producto.id}) }}" class="btn btn-blue-2 btn-xs">Editar</a></td>#}
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% else %}
                            <tbody>
                                <tr>
                                    <td colspan="6">No hay Eventos</td>
                                </tr>
                            </tbody>
                        {% endif %}
                    </table>

                </div>
            </div>
            <div class="col-md-12 col-xs-12" style="padding-bottom:20px;">
                <div class="text-center">
                    <input class="btn btn-success" type="button" value="Descargar" style="margin-right:30px;" onclick="window.location='{{ path('export_event') }}';">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    <style>
        .text {color:#ffffff; text-decoration:none}
        .text:hover {color:#000000; text-decoration:none}
    </style>
{% endblock %}
