{% extends 'base.html.twig' %}
{% set menu_active = 'homepage' %}
{% block body %}

    <div class="row">

        <div class="col-md-12 portlets">

            <div class="widget">
                <div class="widget-header transparent">
                    <h2><strong>Agenda Cita</strong></h2>
                </div>

                <div class="widget-content padding">

                    {{form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'formulario'} })}}
                    {{form_errors(form)}}

                    <div class="col-md-12">
                        <div class="form-group">

                            <div class="col-md-3 col-xs-12">
                                {{ form_label(form.evento) }}
                                {{ form_widget(form.evento) }}
                                {{ form_errors(form.evento) }}
                                <div id="resp"></div>
                            </div>

                            <div class="col-md-3 col-xs-12">
                                {{ form_label(form.empresa) }}
                                {{ form_widget(form.empresa) }}
                                {{ form_errors(form.empresa) }}
                            </div>

                            <div class="col-md-3 col-xs-12">
                                {{ form_label(form.fecha) }}
                                {{ form_widget(form.fecha) }}
                                {{ form_errors(form.fecha) }}
                            </div>

                            <div class="col-md-4 col-xs-12">
                                {{ form_label(form.nombre) }}
                                {{ form_widget(form.nombre) }}
                                {{ form_errors(form.nombre) }}
                            </div>

                            <div class="col-md-4 col-xs-12">
                                {{ form_label(form.apellidoPaterno) }}
                                {{ form_widget(form.apellidoPaterno) }}
                                {{ form_errors(form.apellidoPaterno) }}
                            </div>

                            <div class="col-md-4 col-xs-12">
                                {{ form_label(form.apellidoMaterno) }}
                                {{ form_widget(form.apellidoMaterno) }}
                                {{ form_errors(form.apellidoMaterno) }}
                            </div>

                            <div class="col-md-5 col-xs-12">
                                {{ form_label(form.direccion) }}
                                {{ form_widget(form.direccion) }}
                                {{ form_errors(form.direccion) }}
                            </div>

                            <div class="col-md-3 col-xs-12">
                                {{ form_label(form.municipio) }}
                                {{ form_widget(form.municipio) }}
                                {{ form_errors(form.municipio) }}
                            </div>

                            <div class="col-md-3 col-xs-12">
                                {{ form_label(form.estado) }}
                                {{ form_widget(form.estado) }}
                                {{ form_errors(form.estado) }}
                            </div>

                            <div class="col-md-1 col-xs-12">
                                {{ form_label(form.cp) }}
                                {{ form_widget(form.cp) }}
                                {{ form_errors(form.cp) }}
                            </div>

                            <div class="col-md-3 col-xs-12">
                                {{ form_label(form.telefono) }}
                                {{ form_widget(form.telefono) }}
                                {{ form_errors(form.telefono) }}
                            </div>

                            <div class="col-md-3 col-xs-12">
                                {{ form_label(form.celular) }}
                                {{ form_widget(form.celular) }}
                                {{ form_errors(form.celular) }}
                            </div>

                            <div class="col-md-3 col-xs-12">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                    </div>
                    <div class="clear padt"><hr></div>

                    <div class="col-md-12 col-xs-12" style="padding-bottom:20px;">
                        <div class="text-center">
                            <input class="btn btn-default" type="button" value="Regresar" style="margin-right:30px;" onclick="window.location='{{ path('homepage') }}';">
                            {{ form_widget(form.save) }}
                        </div>
                    </div>
                    {{form_end(form)}}

                </div>

            </div>

        </div>

    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
{% endblock %}