{% set title = 'Login' %}
{% block stylesheets %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
    <title>{{ title|default('Inicio') }}</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{{ asset('frontend/css/style.css') }}">

{% endblock %}
{% block nav %}{% endblock %}
{% block contenido %}
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="{{ asset('frontend/img/icon_front.png') }}" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form action="{{ path('front_login_check') }}" method="post">
                <input type="text" id="login" class="fadeIn second" name="_username" placeholder="Username" required>
                <input type="password" id="password" class="fadeIn third" name="_password" placeholder="Password" required>
                <input type="hidden" name="_target_path" value="/index" />
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>
            {% if error %}
                <div id="error" style="color: #ef4300;">{{ error.message | trans }} </div>
            {% endif %}

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="login" href="{#{ url('') }#}">Restablecer Contraseña</a>
            </div>

        </div>
    </div>
{% endblock %}
{% block sidebar %}{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
{% endblock  %}
<!------ Include the above in your HEAD tag ---------->